# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.vscode/settings.json
.vscode/launch.json
PTsensorA1_2010_all.csv
PTsensorA1_2011_all.csv
PTsensorA1_2012_all.csv
PTsensorA1_2101_all.csv
PTsensorA1_2102_all.csv
PTsensorA1_2103_all.csv
PTsensorA1_2104_all.csv
PTsensorA1_2105_all.csv
PTsensorA2_2012_all.csv
PTsensorA2_2101_all.csv
PTsensorA2_2102_all.csv
PTsensorA2_2103_all.csv
국내지진목록_2016-09-12_2021-07-19.xls
A1_2010_all_filtered.csv
A1_2010_all.csv
A1_2011_all_filtered.csv
A1_2011_all.csv
A1_2012_all_filtered.csv
A1_2012_all.csv
A1_2101_all_filtered.csv
A1_2101_all.csv
A1_2102_all_filtered.csv
A1_2102_all.csv
A1_2103_all_filtered.csv
A1_2103_all.csv
A1_2104_all_filtered.csv
A1_2104_all.csv
A1_2105_all_filtered.csv
A1_2105_all.csv
A1_2106_all_filtered.csv
A1_2106_all.csv
A2_2011_all_filtered.csv
A2_2011_all.csv
A2_2012_all_filtered.csv
A2_2012_all.csv
A2_2101_all_filtered.csv
A2_2101_all.csv
A2_2102_all_filtered.csv
A2_2102_all.csv
A2_2103_all_filtered.csv
A2_2103_all.csv
A2_2104_all_filtered.csv
A2_2104_all.csv
A2_2105_all_filtered.csv
A2_2105_all.csv
A2_2106_all_filtered.csv
A2_2106_all.csv
A2_data_filtering_info.txt
FBG_A2_2021_05.html
FBG_A2_2021_05.png
KJeq-2020-10.html
KJeq-2020-10.txt
KJeq-2020-11.html
KJeq-2020-11.txt
KJeq-2020-12.html
KJeq-2020-12.txt
KJeq-2021-01.html
KJeq-2021-01.txt
KJeq-2021-03.html
KJeq-2021-03.txt
KJeq-2021-04.html
KJeq-2021-04.txt
KJeq-2021-05.html
KJeq-2021-05.txt
KJeq-2021-06.html
KJeq-2021-06.txt
PT_A2_201101-1130.html
PT_A2_201101-1130.png
PT_A2_201201-1231.html
PT_A2_201201-1231.png
PT_A2_210101-0131.html
PT_A2_210101-0131.png
PT_A2_210201-0228.html
PT_A2_210201-0228.png
PT_A2_210301-0331.html
PT_A2_210301-0331.png
PT_A2_210401-0430.html
PT_A2_210401-0430.png
PT_A2_210501-0531.html
PT_A2_210501-0531.png
PT_A2_210601-0630.html
PT_A2_210601-0630.png
TELLUS_PT_sensor_A1_2020_10.png
TELLUS_PT_sensor_A1_2020_12.png
TELLUS_PT_sensor_A1_2021_01.png
TELLUS_PT_sensor_A1_2021_02.png
TELLUS_PT_sensor_A1_2021_03.png
TELLUS_PT_sensor_A1_2021_04_1.png
TELLUS_PT_sensor_A1_2021_04_2.png
TELLUS_PT_sensor_A1_2021_05-1.png
TELLUS_PT_sensor_A1_2021_05-2.png
TELLUS_PT_sensor_A1_2021_05-3.png
TELLUS_PT_sensor_A1_2021_06-1.png
anomaly_detect_01.png
anomaly_detect_02.png
merge.csv
merge.xlsx
STL_output_raw.png
STL_output_resample_1min_freq1440.png
STL_output_resample_1min_freq2880.png
STL_output_resample_1min_freq4320.png
STL_output_resample_2min_freq1440.png
A1_2010_all_P500.csv
A1_2010_all_P1000.csv
A1_2010_all_T500.csv
A1_2010_all_T1000.csv
A1_2011_all_P500.csv
A1_2011_all_P1000.csv
A1_2011_all_T500.csv
A1_2011_all_T1000.csv
A1_2012_all_P500.csv
A1_2012_all_P1000.csv
A1_2012_all_T500.csv
A1_2012_all_T1000.csv
A1_2101_all_P500.csv
A1_2101_all_P1000.csv
A1_2101_all_T500.csv
A1_2101_all_T1000.csv
A1_2102_all_P500.csv
A1_2102_all_P1000.csv
A1_2102_all_T500.csv
A1_2102_all_T1000.csv
A1_2103_all_P500.csv
A1_2103_all_P1000.csv
A1_2103_all_T500.csv
A1_2103_all_T1000.csv
A1_2104_all_P500.csv
A1_2104_all_P1000.csv
A1_2104_all_T500.csv
A1_2104_all_T1000.csv
A1_2105_all_P500.csv
A1_2105_all_P1000.csv
A1_2105_all_T500.csv
A1_2105_all_T1000.csv
A1_2106_all_P500.csv
A1_2106_all_P1000.csv
A1_2106_all_T500.csv
A1_2106_all_T1000.csv
A2_2011_all_P500.csv
A2_2011_all_P1000.csv
A2_2011_all_T500.csv
A2_2011_all_T1000.csv
A2_2012_all_P500.csv
A2_2012_all_P1000.csv
A2_2012_all_T500.csv
A2_2012_all_T1000.csv
A2_2101_all_P500.csv
A2_2101_all_P1000.csv
A2_2101_all_T500.csv
A2_2101_all_T1000.csv
A2_2102_all_P500.csv
A2_2102_all_P1000.csv
A2_2102_all_T500.csv
A2_2102_all_T1000.csv
A2_2103_all_P500.csv
A2_2103_all_P1000.csv
A2_2103_all_T500.csv
A2_2103_all_T1000.csv
A2_2104_all_P500.csv
A2_2104_all_P1000.csv
A2_2104_all_T500.csv
A2_2104_all_T1000.csv
A2_2105_all_P500.csv
A2_2105_all_P1000.csv
A2_2105_all_T500.csv
A2_2105_all_T1000.csv
A2_2106_all_P500.csv
A2_2106_all_P1000.csv
A2_2106_all_T500.csv
A2_2106_all_T1000.csv
range_P500.csv
range_P1000.csv
range_T500.csv
range_T1000.csv
plot_A1_P500.png
plot_A1_P1000.png
plot_A1_T500.png
plot_A1_T1000.png
plot_A2_P500.png
plot_A2_P1000.png
plot_A2_T500.png
plot_A2_T1000.png
